// fonts

$regular-font: 'Lusitana', serif;
$second-font: 'Mynerve', cursive;

// colors
$dark-grey: rgb(36, 38, 49);
$light-grey: rgb(150, 156, 190);
$yellow-color: rgb(245, 240, 200);
$white-color: white;