.form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
    border-bottom: solid $light-grey 1px;

    &__house, &__char, &__gender {
        font-family: $regular-font;
        font-size: 1.8rem;
        color: $light-grey;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__house--list{
        border-radius: 1rem;
        font-family: $regular-font;
        color: $dark-grey;
        font-size: 1.6rem;
        padding: 1rem;
        background-color: $yellow-color;
    }

    &__char--input{
        border-radius: 1rem;
        font-family: $regular-font;
        color: $dark-grey;
        font-size: 1.6rem;
        padding: 1rem;
        background-color: $yellow-color;
    }

    &__gender--list{
        border-radius: 1rem;
        font-family: $regular-font;
        color: $dark-grey;
        font-size: 1.6rem;
        padding: 1rem;
        background-color: $yellow-color;
    }
    }

    .errorMsg {
        font-family: $regular-font;
        font-size: 1.6rem;
        font-weight: bold;
        color: red;}