.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem;

    &__logo {
        width: 15%;
        color: $white-color;
    }

    &__title{
        font-family: $second-font;
        font-size: 4rem;
        color: $yellow-color;
        padding-top: 1.4rem;
    }
}