.NF-title {
    font-family: $regular-font;
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 3rem;
}

.NF-message {
    font-family: $regular-font;
    font-size: 2.4rem;
    color: white;
    text-align: center;
}