/* Aquí van tus estilos */
@import "./core/reset";
@import "./core/variables";

@import "./partials/characters";
@import "./partials/details";
@import "./partials/header";
@import "./partials/filter";
@import "./partials/pageNotFound";


body {
    background-color: $dark-grey;
}

.hidden {
    display: none;
}

.errorMsg {
    font-weight: bold;
    color: red;
}